<div class="flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #3A5498;">
    <div class="p-4 shadow-2 border-round w-full lg:w-6" style="max-width: 550px; background-color: #303D82;">
        <p-toast></p-toast>
        <div class="text-center mb-5">
            <div class="text-900 text-6xl font-bold mb-3">
                <p class="text-indigo-100"> &lt;/&gt; MaratonaDB</p>
            </div>
            <div class="text-900 text-5xl font-bold mb-3">
                <p class="text-indigo-100">Entrar</p>
            </div>
            <span class="text-600 font-medium line-height-3 text-blue-50">Não tem uma conta?</span>
            <a class="font-medium no-underline ml-2 text-cyan-300 cursor-pointer" (click)="goToCadastro()">Crie Agora!</a>
        </div>

        <div>
            <label for="usuario" class="block text-900 font-medium mb-2 text-indigo-100">Usuário</label>
            <input [(ngModel)]="usuario" id="usuario" type="text" placeholder="Usuário" pInputText class="w-full mb-3"
                style="background-color: #E0E7FF;" required>

            <label for="senha" class="block text-900 font-medium mb-2 text-indigo-100">Senha:</label>
            <p-password [(ngModel)]="senha" id="senha" [feedback]="false" [toggleMask]="true"
                class="w-full mb-3 text-indigo-100" (keydown.enter)="autenticar()"></p-password>

            <div class="flex align-items-center justify-content-between mb-6">
                <a class="font-medium no-underline ml-2 text-cyan-300 text-right cursor-pointer">Esqueceu a
                    senha?</a>
            </div>

            <button pButton pRipple [raised]="true" [text]="true" label="Entrar" icon="pi pi-user" class="w-full"
                [outlined]="false" (click)="autenticar()" style="background-color: #3A5498; color: white;"></button>
        </div>
    </div>
</div>